---
import astroLogo from "../assets/astro.svg";
import fotoPerfil from "../../public/images/fotoPerfil.jpg";
import background from "../assets/background.svg";
---

<div id="container">

	<img id="background" src={background.src} alt="" fetchpriority="high" />

	<main>

		<section id="hero">

			<a href="">
				<img
					src={fotoPerfil.src}
					alt="Foto de perfil de Lucas Fava"
					width="200"
					height="200"
					id="foto-perfil"
				/>
			</a>

			<h1>
				Bienvenido a mi Portfolio! <code><pre>Soy Lucas Fava</pre></code>,
				Desarrollador Web Full Stack.
			</h1>

			<section id="links">
				<a class="button" href="https://github.com/FavaLucas"
					>Visita mis Repositorios!</a
				>
				<a href="https://github.com/FavaLucas">
					Te invito a que revises mis proyectos destacados
					<svg
						xmlns="https://github.com/FavaLucas"
						viewBox="0 0 24 24"
						fill="currentColor"
					>
						<path
							d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2.17c-3.34.73-4.05-1.41-4.05-1.41a3.2 3.2 0 0 0-1.34-1.77c-1.1-.76.08-.74.08-.74a2.54 2.54 0 0 1 1.85 1.24 2.59 2.59 0 0 0 3.52 1 2.57 2.57 0 0 1 .76-1.6c-2.67-.3-5.47-1.34-5.47-5.97a4.67 4.67 0 0 1 1.24-3.23 4.34 4.34 0 0 1 .12-3.18s1-.32 3.3 1.23a11.4 11.4 0 0 1 6 0c2.29-1.55 3.3-1.23 3.3-1.23a4.34 4.34 0 0 1 .12 3.18 4.67 4.67 0 0 1 1.24 3.23c0 4.64-2.8 5.67-5.47 5.97a2.89 2.89 0 0 1 .82 2.24v3.32c0 .32.22.7.83.58A12 12 0 0 0 12 0Z"
						></path>
					</svg>
				</a>
			</section>

		</section>

	</main>
	
</div>
<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
			Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #668bf1 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #5f33d8 0%, #426ee9 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #cddcf3 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #6d33d8 0%, #6441ff 18%, #ceeaf5 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgb(131, 147, 221);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	#foto-perfil {
		border-radius: 50%; /* Hace la imagen circular */
		border: 3px solid #ccc; /* Añade un borde alrededor */
		margin: 1rem auto; /* Espaciado y centrado */
		display: block;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
